body {
  color: #4A4A4A;
  font-family: 'Roboto', Segoe UI, sans-serif;
}

.page-enter-active, .page-leave-active {
  transition: opacity .3s ease-in-out;
}
.page-enter, .page-leave-to {
  opacity: 0;
}

.layout-enter-active, .layout-leave-active {
  transition: opacity .6s
}
.layout-enter, .layout-leave-active {
  opacity: 0
}
